body {
    display: flex;
}

div {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.card{
    border: 3px solid black;
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}