body,
html {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background: url(image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 30px;
}

ion-icon {
    font-size: 34px;
  }

.container {
    width: 627px;
}

.form-control {
    width: 560px;
}
/* .row {
    display: block;
    
} */

/* #accName {
    display: inline;
} */
.row {
    flex-direction: row;
    justify-content: space-evenly;
}


  #button-addon2 {
    width: 93px;
  }

  #addAccountBtn {
      margin-left: 40%;
      
  }

  /* .btn.btn-outline-secondary {
      margin-left: 89%;

  } */

  li {
      display: flex;
      flex-direction: row;
  }