body,
html {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background: url(image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 30px;
}

ion-icon {
    font-size: 34px;
  }

.container {
    width: 627px;
}

.form-control {
    width: 560px;
}

.row {
    flex-direction: row;
    justify-content: space-evenly;
}


  #withdrowalBtn, 
  #depositBtn{
    width: 93px;
  }

  #addAccountBtn {
      margin-left: 40%;
      
  }

li{
    margin-left: -55px;
    width: 600px;
}

p{
    margin-left: 100px;
    margin-top: -22px;
}
  .btn.btn-outline-secondary {
      height: 35px;
      margin-left: 89%;
      margin-top: -35px;
      width: 93px;
      border-radius: 0px 5px 5px 0px;
  }

  .divClass {
      width : 13rem;
      height: 35px;
      margin-left: -200px;
      text-align: center;
      padding: 3px 0px 3px 3px;

  }

  #card {
   
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
  }